<div class="generic_page">
    <div class="inner_wrapper">
        <h1>404 ERROR</h1>
        <h2>Page not found</h2>
        <br>
        <div class="red_block half_col">
            <p>The page you requested cannot be found. The page you are looking for 
                might have been removed, had its name changed, or is temporarily unavailable.</p>
        </div>

        <div class="clear"><!----></div>
        <div class="pt20 gen">
            <h4>PLEASE TRY THE FOLLOWING:</h4>
            <ul>
                <li>If you typed the page address in the Address bar, make sure that it is spelled correctly.</li>
                <li>Open the home page and look for links to the information you want.</li>
                <li>Use the navigation bar on the left or top to find the link you are looking for.</li>
                <li>click the back button to try another link.</li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.generic_page').css('min-height',$(window).height()-150);
    });
</script>