<section id="home_top" ng-controller="ChangePasswordController" >
    <section id="contact_us">
        <div class="title"> Change Password</div>
        <div class="contact_form">
            <form id="change_pass" method="post" ng-submit="submitPassword(changePass)" >
            <div class="success_content" id="success_content_password" style="display: none;"> Password change successfully. </div>
            <div class="error_content" id="error_password_required" style="display: none;"> All fields are required. </div>
            <div class="error_content" id="error_content_password" style="display: none;"> All fields are required. </div>
            <div class="error_content" id="error_content_not_match" style="display: none;"> Old password not match. </div>
            
                <input type="password" name="oldPassword" placeholder="Old Password" id="" ng-model="changePass.oldPassword" class="required" />
                <input type="password" name="newPassword" placeholder="New Password" id="new_password" ng-model="changePass.newPassword" class="required validate_password" />
                <input type="password" name="confirmPassword" placeholder="Confirm New Password" id="" ng-model="changePass.confirmPassword" class="required" equalto="#new_password"/>
                <input type="submit" class="red_btn" value="Change Password" />
                <div class="clear"><!----></div>
            </form>
        </div>
    </section>
</section>